@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/*ctrl + F5 - сбрасывает CSS кэш в браузере*/
body 
{
    font-family: 'Roboto Condenced';
    font-size: 20px;
    color: rgba(196, 189, 70, 0.8);
    padding: 1%5%; /*padding - оступы слева и справа на web-странице*/
    /*background: linear-gradient(180deg, #808080)*/ /*deg (degree) - градус*/
    background-image: linear-gradient(rgba(120, 140, 16, 0.6), rgba(214, 88, 13, 0.6)), url(img/pcb-v2.jpg);     /*для картинки свой собственый rgba нужен, который идёт вторым параметром*/
    /*background-image: linear-gradient(to right, rgba(255, 126, 95, 0.8));*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
p 
{
    text-align:justify;    /*justify - выравнить по ширине*/
    text-indent:48px;
    border-radius: 12px;
    color: rgba(196, 212, 107);
    text-shadow: 0 0 3px #696921, 0 0 6px aqua, 0 0 2px beige;       /*text-shadow - отвечает за подсветку букв в тексте*/
}

    /*rgba:
    *Первый цвет: красный;
    *Второй цвет: синий;
    *Третий цвет: зелёный.
    */

    p::first-letter 
    {
        font-size:32px;
        font-family:'Segoe Script'
    }
img 
{
    margin:0 auto;
    width:50%;
}
figure 
{
    text-align:center;
    font-style:italic;
    font-weight:100;
    color:black;
}
ul 
{
    list-style:none;            /*list-style:none - убирает обозначение точек (маркеров) для маркерованного списка*/
}
a                               /*a - отвечает за ссылки, к примеру a href*/
{
    text-decoration:none;        /*text-decoration:none - при наведении не подчеркивает ссылки*/
    color:black;
    /*box-shadow: 0px 0px  1px 2px rgba(255, 68, 205);*/
    text-shadow: 0 0 3px yellow, 0 0 6px aqua, 0 0 8px beige;
}
    
    a:active                    /*a:active - выделяет при нажатии*/
    {
        color:green;
    }
    a:visited                   /*a:visited - отвечает за посещенные за (нажатые) ссылки*/
    {
        color:rgba(90,90,50,1);
    }
    a:hover                     /*Порядок размещения структур важен, чем ниже тем позже применяется*/
    {
        font-weight: 800;
        background-color: black;
        color: white;
    }
ol 
{
    color: rgba(90,90,50,1);
    text-shadow: 0 0 3px yellow, 0 0 6px aqua, 0 0 8px beige;
}
:target /*> span*/ /*Когда мы ставим знак больше (>) - это означает, что span непосредственно*/
{ /*вложен в h2, к нему применится background-color набор стилей*/
    /*background-color:limegreen;*/ /* > - знак вложенности */
    border-radius: 15px; 
    background-color: rgba(240, 240, 240, 0.4); 
    box-shadow: 0 0 25px 25px rgba(220, 220, 220, .7);
}
    
        :target + div                                           /*Псевдокласс CSS :target используется для оформления текущего активного целевого элемента.*/
        {                                                       /*target - применется только тем структурам и частям текста, перед которыми стоит решётка (#)*/
            border-radius: 15px;                                /*и которая является ссылкой на определленную часть страницы через href, применяет заданные в */
            background-color: rgba(240, 240, 240, 0.4);         /*фигурных скобках параметры только к тем частям текста на которую якорь (ссылка) сылается*/
            box-shadow: 0 0 25px 25px rgba(220, 220, 220, .7);  /*через id, у которого есть соотвествующее название.*/

            /*box-shadow*/
            /*Первый параметр смещение по оси x (по горизонтали)*/
            /*Второй параметр смещение по оси y (по вертикали)*/
            /*Третий параметр размытие - задает радиус размытия тени. Чем больше это значение, тем сильнее тень сглаживается, становится шире и светлее.*/
            /*Четвертый параметр - увеличивает или уменьшает размер тени относительно элемента.*/
            /*Пятый параметр - цвет самой тени (можно самостоятельно определить палитру при помощи rgba() ).*/
        }
        
h2 
{                                           /*подбирать цвет rgba (сочитание: красного, синего, зелёного), лучше подбирать*/
    color: rgba(140,142,44,0.8);            /*в программе paint в Windows, или в похожей программе в других ОС)*/
    text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 2px beige;      
}

    h2 > span 
    {
        /*background-color: rgba(240, 240, 240, 0.4);*/
        color: rgba(140,142,44,0.8);
        text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 2px beige;
    }

h4 
{
    /*color: rgba(140,142,44,0.8);
    text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 2px beige;*/
    color: rgba(140,142,44,0.8);
    text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 2px beige;
}
    /*div > p::selection*/        /*если выделить текст мышкой*/
    /*{
        background-color:red;
    }*/

    div > figure > figcaption 
    {
        /*background-color:antiquewhite;*/
    }
    div > figure > a:hover 
    {
        background-color: rgba(0, 0, 0, 0);
    }
div > p 
{
    /*Стили будут применяться только к тем элементам <p>, которые непосредственно вложены в элемент <div>
    -----------------------------------------------------------------------------------------------------
    <div>
        <p>Здесь стили применятся</p>
        <article>
            <p>А здесь уже НЕ применятся, поскольку нет непосредственного вложения в '<div>'</p>
        </article>
        <p>Здесь стили применятся</p>
    </div>
    */
    /*  background-color:blanchedalmond;
        border-radius:12px;*/
    color: rgba(196, 212, 107);
    text-shadow: 0 0 3px #696921, 0 0 6px aqua, 0 0 2px beige;
}

h3 
{
    /*color: rgba(140,142,44,0.8);
    text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 2px beige;*/
    color: rgba(196, 212, 107);
    text-shadow: 0 0 3px #696921, 0 0 6px aqua, 0 0 2px beige;
}
figure > figcaption 
{
    /*color: rgba(207, 186, 104);
    text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 1px beige;*/
    color: rgba(196, 212, 107);
    text-shadow: 0 0 3px #696921, 0 0 6px aqua, 0 0 2px beige;
}
h1 
{
    color: rgba(140,142,44,0.8);
    text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 2px beige;
}
div > h3 
{
    /*background-color:blanchedalmond;*/
    border-radius: 12px;
    color: rgba(140,142,44,0.8); 
    text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 2px beige;
    /*color: rgba(140,142,44,0.8);
    text-shadow: 0 0 3px #D2D442, 0 0 6px aqua, 0 0 2px beige;*/
}
    div > article > p 
    {
        /*это для предыдущего примера.*/
        /*здесь конструкция отрабатает, только для такой вложенности, которая находится внутри div-а*/
    }

    article > p 
    {
        /* это будет отрабатывать и для всех остальных article, которые наодятся и за пределелами p.*/
    }
cite 
{
    color: rgba(196, 212, 107);
    text-shadow: 0 0 3px #696921, 0 0 6px aqua, 0 0 2px beige;
}
    div > p 
    {
        /*Стили будут применяться только к тем элементам <p>, которые вложены в элемент <div> на любой уровень глубины
        --------------------------------------------------------------------------------------------------------------
        <div>
            <p>Здесь стили применяются</p>
            <article>
                <p>А здесь стили так же применятся, поскольку такое отношение применяет стили на любом уровне вложенности (глубине)</p>
            </article>
            <p>Здесь стили применяются</p>
        </div>
        */
    }
    div + p 
    {
        /*Стили будут применяться только к тем элементам <p>, которые непосредственно следуют за элементом <div> на одной глубине*/
    }
    div ~ p     /*тильда (~) - это побитовый not*/ 
    {
        /*Стили будут применяться ко всем элемента <p>, которые следуют за элементом <div> (на одной глубине????)*/
    }
.cite {
    /*border: solid 8px;*/
    border-left: solid 5px blue;
    /*margin-left:....*/
    /*padding-top:....*/
    margin: 50px 100px 200px 300px;   /*Внешний отступ*/
                                /*margin - внешнее расстояние, по горизонтали и верстикали*/
                                /*для класса (cite)*/
    /*margin: all-sides;*/                /*all-sides - применить одно значение со всех сторон.*/
    /*margin: top-bottom left-right;*/    /*2 значения. Первое значение верх, вниз.*/
                                          /*Второе влево, вправо.*/
    /*margin: top left-right bottom;*/    /*3 значения. Первое значение верх. Второе*/
                                          /*влево, вправо. Третье низ.*/
    /*margin: top right bottom left;*/   
    /*margin: 50px 150px;*/                /*Первое значение - это верх;*/
                                           /*Второе значение - это влево, вправо;*/
    /*margin: 50px 200px 300px;*/          /*Третье значение - это низ.*/
    padding: 30px;              /*Внутренний отступ*/
    /*padding: all-sides;*/
    /*padding: top-bottom left-right*/
    /*padding: top left-right bottom*/
    /*padding: top right bottom left*/   
}
    /*ctrl + k + c - закоментировать выделенный участок (строку)*/
/*------------------------------------------------------------------------------------------------*/


